.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.App-header {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-weight: 700;
}

.App .right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App .right .VideoPlayer {
  flex: 5;
}

.App .right .chapter-nav {
  background-color: #202020;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App .right .chapter-nav .chapter {
  flex: 1;
  text-align: center;
}

.App .row {
  display: flex;
  flex-direction: row;
}

.App .left {
  background-color: #202020;
  display: flex;
  position: relative;
  text-align: right;
  flex-direction: column;
  width: 10rem;
  transition: width 0.4s ease-in-out;
}

.App .left .toggle-bar {
  z-index: 20;
  cursor: pointer;
  font-size: 2rem;
  width: 30px;
  position: absolute;
  top: 1.7rem;
  text-align: center;
  right: -30px;
  background-color: #202020;
}

.App .left .lessons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .left .lessons .lesson {
  height: 5rem;
  width: 80%;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  padding-top: 1.8rem;
}

.App .left .lessons .lesson.selected {
  opacity: 1;
}

.App .left.closed {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  width: 0rem;
}

.App .chapter-nav .chapter {
  cursor: pointer;
}

.TranscriptBrowser .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TranscriptBrowser .bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100px;
}

.TranscriptBrowser .bottom .search-result {
  padding: 1rem;
  cursor: pointer;
}

.TranscriptBrowser .bottom .search-result:hover {
  text-decoration: underline;
}

.TranscriptBrowser span {
  flex: 1;
  opacity: 0.5;
  margin: auto;
  text-align: center;
}

.TranscriptBrowser .Search {
  flex: 8;
  margin-right: 20%;
}

.TranscriptBrowser .Search input {
  padding-left: 10px;
  height: 2rem;
}

.Moment {
  padding: 1rem;
  margin: auto;
  font-size: 3rem;
}

.PasswordChecker {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #202020;
}
